* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
}

body {
    background: linear-gradient(35deg, #842121, 50%, #7b01d1);
    height: 100vh;
}


.header {
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 32px 10px;
}

.header img {
    height: 100px;
    scale: .9;
    transition: .5 ease;
}

.header img:hover {
    scale: 1;
}

.navbar a {
    text-decoration: none;
    color: white;
    margin-left: 35px;
    cursor: pointer;
    position: relative;
    font-size: larger;
}

.navbar a::before {
    content: "";
    height: 100%;
    width: 100%;
    border-bottom: 2px solid #000000;
    position: absolute;
    left: 0%;
    top: -100%;
    transition: .5s ease;
    opacity: 0;
}

.navbar a:hover::before {
    top: 0px;
    opacity: 1;
}

.carousel-item img {
    -webkit-background-size: cover;
    background-size: cover;
    width: auto;
    height: 50vh;
}

.box {
    background: rgb(0, 0, 0, 0.5);
    width: 100%;
    padding: 25px;
}